<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>UI Elements</title>

    <!--Bootstrap CSS CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <!--Our Custom CSS-->

</head>
<body>
<div class="row divform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li>Upload GUI files</li>
        <li class="active">UI Elements</li>
        <li>Add Rules</li>
    </ul>
    <!-- fieldsets -->
    <fieldset class="fieldsetForm">
        <table id="uiElementTable" class="display" cellspacing="0">
            <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Add Values</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
    </fieldset>
    <fieldset class="fieldsetForm">
        <button type="submit" iclass="btn btn-primary pull-right">Next</button>
    </fieldset>
</div>


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/js/bootbox.min.js" th:src="@{/js/bootbox.min.js}"></script>

<link rel="stylesheet" href="../static/css/bootstrap-tagsinput.min.css" th:href="@{/css/bootstrap-tagsinput.min.css}"/>
<script src="../static/js/bootstrap-tagsinput.min.js" th:src="@{/js/bootstrap-tagsinput.min.js}"></script>
<link href="../static/css/style.css" th:href="@{/css/style1.css}" rel="stylesheet"/>
<script th:inline="javascript">

    $(document).ready(function () {
        var projectId = [[${project}]];
        $('#uiElementTable').DataTable({
            "ajax": {
                "url": "/uiElementsList?projectId=" + projectId,
                "dataSrc": ""
            },
            "fnInitComplete": function () {
                $(document).on("click", '.deleteElement', function (event) {
                    event.preventDefault();
                    var url = $(this).attr('href');
                    bootbox.confirm({
                        message: "Are you sure you want to delete this?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    type: "GET",
                                    url: url,
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.status) {
                                            var theDataTable = $('#uiElementTable').DataTable();
                                            theDataTable.ajax.reload()
                                        }
                                    }
                                });
                            }
                        }
                    });
                });
                $('.tags').tagsinput('refresh');
            },
            "aoColumns": [
                {
                    "mData": "type",
                    "className": 'dt-left'
                },
                {
                    "mData": "name",
                    "className": 'dt-left'
                },
                {
                    "className": 'dt-left',
                    "mRender": function (data, type, row) {
                        return '<input type="text" class="form-control tags" data-role="tagsinput" />'
                    }
                },
                {
                    "className": 'dt-left',
                    "mRender": function (data, type, row) {
                        var deleteUrl = "/deleteUiElement?id=" + row.id;
                        return '<a class="btn btn-danger btn-xs deleteElement" href="' + deleteUrl + '"  >' + "Delete" + '</a>'
                    }
                }
            ]

        });

        var theDataTable = $('#uiElementTable').DataTable();

        $('button').click(function () {
            var valuesArray = [];
            var id;
            var tagValues;
            var rows = theDataTable.rows().data();
            $('#uiElementTable tbody tr').each(function (index) {
                id = rows[index].id;
                var nTds = $('td', this);
                tagValues = jQuery.trim($(nTds[2]).text()).replace(/\s+/g, ", ");
                var uiValues = {
                    "id": id,
                    "tagValues": tagValues,
                    "project":projectId
                };
                valuesArray.push(uiValues);
            });

            $.ajax({
                url: "/saveTagValues",
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(valuesArray),
                contentType: 'application/json',
                mimeType: 'application/json',
                success: function(result) {
                 if(result.status){
                     window.location.href ="/addRules?projectId=" + projectId;

                 }
                    },
                error:function(data,status,er) {
                }
            });
        });


    });

</script>


</body>
</html>
